# Configuration file

general {
    # Set this to false to disable realms deletion
    B:deleteRealms=true

    # Set this to false to disable limits for cape rotations
    B:fixCapeRotations=true

    # Set this to false to disable item collision on complex blocks fix
    B:fixItemCollision=true

    # Set this to false to disable debug logging
    B:logDebug=true

    # Set this to true to enable thorough logging
    B:logTrace=false

    # Set this to false to disable functionality allowing buttons to be placed on block top or bottom
    B:topDownButtons=true

    ##########################################################################################################
    # dangerzone
    #--------------------------------------------------------------------------------------------------------#
    # [WARNING!] Backup your world before changing something here!
    ##########################################################################################################

    dangerzone {
        # Allows transforming LWJGL classes by changing class loader. Turn this off if you have any visual issues
        B:allowLWJGLTransform=true
    }

    ##########################################################################################################
    # derkatercore
    #--------------------------------------------------------------------------------------------------------#
    # Configs of derkatercore
    ##########################################################################################################

    derkatercore {
        # Set this to true to make all fields and functions public
        B:allPublic=false

        # Array of classes or packages (or just parts) that won't be touched when making everything public
        S:ignoredClasses <
            org.spigotmc.SpigotConfig
         >
    }

    ##########################################################################################################
    # integration
    #--------------------------------------------------------------------------------------------------------#
    # Cross-mods integration
    ##########################################################################################################

    integration {
        # Set this to false to disable modifications to glass panes visual connections to other blocks changes made by optifine. May break or fix render bugs.
        B:OF.optifinePostTransform=true
    }

}


