# Configuration file

client {
    # Width of the links represented by dense cables displayed by the Network Visualisation Tool. [range: 0.1 ~ 32.0, default: 1.0]
    S:visualiserWidthDense=1.0

    # Width of the links represented by normal cables displayed by the Network Visualisation Tool. [range: 0.1 ~ 8.0, default: 1.0]
    S:visualiserWidthNormal=1.0
}


