# Configuration file

general {
    # Disables the shader found near Data Towers from ChromatiCraft [default: false]
    B:disableArtefactShader=false

    # Forces DragonAPI's "client-specific" config options to use the same keys across all systems [default: false]
    B:disableClientSpecificConfigs=true

    # Disables the "heat" shader in the Nether from DragonRealmCore [default: false]
    B:disableNetherShader=false

    # Disables the TerritoryZone-based Stronghold generation system from DragonRealmCore [default: true]
    B:disableTerritoryStrongholdSystem=true

    # Disables DragonRealmCore's TickIntercept ASM (pauses the server when no players are online; disabled by default in DragonRealmCore config) [default: true]
    B:disableTickInterceptASM=true

    # Disables the hardcoded checks for Void Monster spawning in certain dimensions, instead always respecting the config [default: false]
    B:disableVoidMonsterHardcode=false

    # Disables IFluidHandler WAILA plugins from Reika's mods, in favor of something better [default: false]
    B:disableWailaPlugins=false

    # Prevents crashes in `EnergizationManager#getEnergizationLevel`; breaks DragonRealmCore's "Atmospheric Permeability Mediation" mechanic [default: true]
    B:energizationManagerFix=true

    # Replaces "rubber" with "gemLatex" in `RecipesDryingBed#addPostLoadRecipes` - avoids a progression skip in HBM's NTM [default: false]
    B:replaceRubberWithGemLatex=false
}


