# Configuration file

general {
    # Enables various mixins that allow blocks to dynamically change their sound. [default: true]
    B:blockSoundMixins=false

    # Font rendering replacements [default: true]
    B:enableFontRendererMixin=true

    # Enable client-side resource pack update checking for active packs [default: true]
    B:enableResourcePackUpdateCheck=true

    # If you're not a dev, you don't need this [default: false]
    B:enableTestBlocks=false

    # If you're not a dev, you don't need this [default: false]
    B:enableTestItems=false

    # Enable item rendering modifications to allow rendering some items as translucent [default: true]
    B:enableTranslucentItemRenders=true

    # Set to true to no longer check if the NEI version is new enough to support RenderTooltipEvents [default: false]
    B:ignoreNEIVersion=false

    # Larger values take more RAM, but require less model rebuilding (may reduce lag spikes). Unless you are very short on RAM, reducing this is not advised. [range: 1 ~ 1000000, default: 1000]
    I:modelCacheSize=1000

    # Swaps out the block crack texture on modeled blocks, to make it easier to see the rotation. [default: false]
    B:testCrackTexture=false
}


